/* TITRE DU SITE */

h1 {
    text-align: center;
    color: dimgray;
    text-transform: uppercase;
}


/* NAVBAR */

nav {
    position: relative;
    background-color: dimgray;
    text-transform: uppercase;
}

nav > ul {
    display: inline;
}

nav > ul > li {
    display: inline-block;
}

nav {
    padding: 20px;
}

nav > ul > li > a {
    margin: 20px;
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    opacity: 0.7;
}


/* APPARITION IMAGE */

@keyframes transitionSlider {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

img {
    width: 100%;
}

.transition-slider {
    animation: transitionSlider 1s linear;
}

#image-slider-1 {
    display: block;
}

#image-slider-2 {
    display: none;
}

#image-slider-3 {
    display: none;
}

/* ARTICLES */

#articles {
    border-top: solid 10px black;
    margin: 20px 20px 0px 20px;
}

#articles > h2 {
    text-transform: uppercase;
    text-align: center;
}

.section-image {
    padding: 10px;
    width: 30%;
    float: left;
}

#articles > article > h3 {
    padding: 10px;
}

.section-descriptif {
    padding: 10px;
}

article {
    clear: both;
}

article {
    margin-top: 70px;
    border-top: solid 5px black;
}

.section-descriptif > p {
    margin-bottom: 30px;
}

.section-descriptif > a {
    color: black;
    padding: 10px;
    border: solid 1px black;
    text-decoration: none;
}

.section-descriptif > a:hover {
    background-color: black;
    color: white;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 860px) {
  .section-image {
    width: 100%;
  }
}

/* PAGE ADMIN */
#formulaire-stockage {
    padding: 20px;
}

#formulaire-stockage input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}